.theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
  }
  
  .theme-switch .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .theme-switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  .theme-switch.active .slider {
    background-color: #2196f3;
  }
  
  .theme-switch.active .slider:before {
    transform: translateX(26px);
  }
  